@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    font-family: 'Poppins',
    sans-serif;
    width: 1200px;
    margin: 0 auto;
    height: 90vh;
    background-color: #f0f0f0;
}

.main {
    flex: 1; /* Grow to fill available space */
    display: flex; /* Use flexbox for the main section too */
    flex-direction: column; /* Set direction to column */
}

a {
    text-decoration: none;
}

@media (max-width: 700px) {
    body {
        width: 100%;
        padding: 0 20px;
    }
}

.footer {
    width: 100%;
    text-align: center;
    margin: 100px 0 20px;
}
